@import '~bootstrap/scss/bootstrap.scss';
@import './vars';

* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: $primary-font;
  color: $dark-cornflower-blue;
}